.footer {
    background-color: #11212c;
    color: #fff;
    text-shadow: 0 0 10px #fff;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'logo' 'links' 'powered';
    align-items: center;
    justify-items: center;
    margin-top: 20px;
    padding-top: 5px;
  }
  .footer__links {
    display: flex;
    justify-content: space-evenly;
    width: 20vw;
    grid-area: 'links';

  }
  
  .footer__powered {
    grid-area: 'powered';
    display: flex;
    font-size: 1.5em;
    text-align: center;
    display:flex;
    justify-content: space-evenly;
    align-items:center;
    color: #aaa;
    height: inherit;
  }

  .powLink{
    text-decoration: none;
    color: #fff;
    transition: all .5s linear;
  }
  .powLink:hover{
    color: #aff;
  }

  .Image{
    width: 70px;
    height:auto;
    object-fit: contain;
    padding-left: 1em;
  }

  .link{
    transform: scale(1.5);
    color:#548aad;
    transition: all .5s linear;
    text-shadow: 0 0 10px #fff;
    font-size: 1.5em;
    margin-right: 10px;

  }
  .link:hover{
    transform: translate(12deg);
    transform: scale(1.6);
    color:#fff;

  }
  .footer_egom{
    grid-area: 'logo';
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
  }
  .egom {
    width: 70px;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
  }

  
  @media (max-width: 768px) {
.footer {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 'logo' 
                        'links'
                        'powered';
  gap: 30px;                        
} 
.footer__links {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    grid-area: 'links';

  }
}