.ul{
    list-style:none;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 3fr;
    align-items: center;
    justify-items:center;

}
.link{
    text-decoration: none;
    color: #fff;
    padding: 1.5rem;
    font-weight: bold;
    transition: all .5s ease;
    border-bottom-right-radius: 30%;
    border-top-left-radius: 30%;
}

.nav{
    background-color: #242B36;
    overflow: hidden;
    border-bottom-right-radius: 5em;
    border-top-right-radius: 6em;
    position: fixed;
    top: 20%;
    left: 0;
    display: grid;
    grid-template-columns: 3fr;
    grid-template-rows: 1fr 3.6667fr; 
    justify-items: center;
}

.logo {
    width: 120px;
    height:auto;

}

.link:hover{
    color: #000;
    background: #bbb;
}